REPLICADO_HOST=192.168.0.10
REPLICADO_PORT=5000
REPLICADO_DATABASE=replicacao
REPLICADO_USERNAME=leitor_replicado
REPLICADO_PASSWORD=s3cr3t_usp
REPLICADO_CODUNDCLG=8
REPLICADO_SYBASE=1
REPLICADO_PREFIXOS_DISC=45,MAC,MAE,MAT,MAP,MPM
REPLICADO_SUFIXO_MIN=40
REPLICADO_ANO_MIN=2010
REPLICADO_ANO_MAX=2026
REPLICADO_DIAS_CORTE=5
REPLICADO_PISO_VAGAS=30
REPLICADO_TOP_CURSOS=12
